db_ops/create_db.py
clean_db.py
venv
__pycache__
files/
test.jpg
test2.jpg
test.py
functions.py
waste_db
waste_db.sqlite
db_ops
pics
convert.py
archive
special/config.py
audio.wav
bot2.py
logs.csv
openrecycle.db
.idea/workspace.xml
files4learning
new_pics
special
